@model LoginInfo
@{
    ViewData["Title"] = "멤버십 로그인";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Membership" asp-action="Login" onsubmit="btnLogin.disabled = true; return true;">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.UserId)
                <input type="text" class="form-control" asp-for="UserId" placeholder="사용자 ID" autofocus/>
                <span class="text-danger" asp-validation-for="UserId"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.Password)
                <input type="password" class="form-control" asp-for="Password" placeholder="비밀번호"/>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <button type="submit" name="btnLogin" class="btn btn-lg btn-success btn-block">멤버십 로그인</button>
        </form>
    </div>
</div>